/************************************************/
/* CSS | Document                               */
/************************************************/

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

/************************************************/
/* Main | Sect.1 | Titel                        */
/************************************************/

main section:first-of-type {
  background-image: linear-gradient(-296deg, var(--color-primairy) , var(--color-secundairy));
  padding: 24px 16px 24px 16px;
}

main section:first-of-type h1 {
  color: var(--color-white);
  padding-bottom: 8px;
}

main section:first-of-type h2 {
  color: var(--color-white);
  padding-bottom: 16px;
  margin-bottom: 0;
}

/************************************************/
/* Main | Sect.2 | Keuzemenu                    */
/************************************************/

main section:nth-of-type(2) ul {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

main section:nth-of-type(2) ul li {

  height: 73px;
  background-color: var(--color-white);
  border-bottom: solid var(--color-gray) 1px;
  padding: 25px 16px;
}

main section:nth-of-type(2) ul li a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  color: var(--color-extra);
  font-stretch: condensed;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;

  /* Chevron Rigth */
  background-image: url(../images/chevron_right.svg);
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: calc(100% - 1px) center;

}




/* Iconen ::before */

/* Betaalpassen */
main section:nth-of-type(2) ul li:first-of-type a::before {
  content: url(../images/account_debitcard.svg);
  z-index: 100;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

/* Geld overmaken */
main section:nth-of-type(2) ul li:nth-of-type(2) a::before {
  content: url(../images/account_transfer.svg);
  z-index: 100;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

/* Mijn gegevens */
main section:nth-of-type(2) ul li:nth-of-type(3) a::before {
  content: url(../images/tools_settings.svg);
  z-index: 100;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

/* Internet Bankieren en app */
main section:nth-of-type(2) ul li:nth-of-type(4) a::before {
  content: url(../images/contact_mobiledevices.svg);
  z-index: 100;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

/* Schade melden */
main section:nth-of-type(2) ul li:nth-of-type(5) a::before {
  content: url(../images/tool_alert.svg);
  z-index: 100;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

/* Producten */
main section:nth-of-type(2) ul li:nth-of-type(6) a::before {
  content: url(../images/tools_constellation.svg);
  z-index: 100;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

/* Kantoren */
main section:nth-of-type(2) ul li:nth-of-type(7) a::before {
  content: url(../images/building_office.svg);
  z-index: 100;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

/************************************************/
/* Main | Sect.3 | Art. 1,2, 3                  */
/************************************************/

main section:nth-of-type(3) {
  background-color: var(--color-white);
  margin: 0;
  padding: 0px 16px 24px 16px;
}

main section:nth-of-type(3) h2 {
  font-size: 28px;
  margin: 8px 16px 16px 16px;
  padding-top: 32px
}

main section:nth-of-type(3) h2, h3 {
  display: flex;
  justify-content: center;
  background-color: var(--color-white);
}

main section:nth-of-type(3) p {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 8px 16px;
}

main section:nth-of-type(3) article:first-of-type p:nth-of-type(2) {
  font-weight: 600;
}

main section:nth-of-type(3) article:first-of-type p:nth-of-type(2)::before {
  display: flex;
  justify-content: center;
  content: url(../images/clock.svg);
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

main section:nth-of-type(3) a {
  display: flex;
  justify-content: center;

  background-color: var(--button-light);
  padding: 8px;
  border-radius: 2px;
  color: var(--color-primairy);
  text-decoration: none;
  font-size: 1em;
  line-height: 2em;
  font-weight: 400;
  font-family: 'Roboto Condensed', sans-serif;
  min-width: 7.5em;
  text-align: center;
}

main section:nth-of-type(3) article:nth-of-type(-n+3) {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: var(--color-white);
  margin: 16px 16px 32px 16px;
}

main section:nth-of-type(3) article:nth-of-type(-n+3) img {
  display: flex;
  justify-content: flex-start;
  order: -1;
  height: 112px;
}

/************************************************/
/* Main | Sect.4 | Feedback geven               */
/************************************************/



main section:nth-of-type(4) h3 {
  display: flex;
  justify-content: center;
  padding: 16px;
  background-color: transparent;
}

main section:nth-of-type(4) ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-bottom: 30px;
}

main section:nth-of-type(4) li {
  margin: 10px;
}

main section:nth-of-type(4) button {
  background-color: var(--button-light);
  border: 3px;
  color: transparent;
  width: 80px;
  height: 80px;
}

main section:nth-of-type(4) li:first-of-type button {
  background-image: url(../images/thumbs_up.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 75%;
  z-index: 100;
}

main section:nth-of-type(4) li:nth-of-type(2) button {
  background-image: url(../images/thumbs_down.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 75%;
  z-index: 100;
}


