/************************************************/
/* CSS | Document                               */
/************************************************/

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}



/************************************************/
/* Header | Nav | Div | Header afbeelding       */
/************************************************/

header div {
  width: 100%;
  height: 12.5em;
}

/* Header > img */

header div img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  /*Inhoud afbeelding wordt bijgesneden*/
  object-position: 65% 10%;
  /* Focus on eyes */
}

@media (min-width:32em) {
  header div {
    height: 25em;
  }
}




/************************************************/
/* Main | Sect.1 | Art.1 | Huidige Actie        */
/************************************************/


main section:first-of-type {
  background-image: linear-gradient(-296deg, #005e5d, #00857a);
  transform: translateY(-2%);
}

main section:first-of-type article:first-of-type {
  transform: translateY(-25%);
}

main section:first-of-type article:first-of-type h1 {
  margin-bottom: 8px;
}

main section:first-of-type article:first-of-type h2 {
  margin-bottom: 16px;
}


main section:first-of-type article:first-of-type {
  padding: 16px;
  margin: 0px 16px;
  background-color: var(--color-white);
  box-shadow: 0 0 8px 0 rgb(34 34 34 / 2%), 0 8px 16px 0 rgb(34 34 34 / 20%);
}

main section:first-of-type article:first-of-type a {
  display: block;
  color: var(--color-black);
  background-color: var(--color-tertiary);
  width: 100%;
  text-decoration: none;
  padding: 22px 16px;


  /*font language*/
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  color: var(--color-black);
  font-stretch: condensed;
  line-height: 3px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}





/************************************************/
/* Main | Sect.1 | Art.2 | Zoeken               */
/************************************************/



main section:first-of-type {
  margin: 0px;
  padding-bottom: 10px;
}

/* Greeting (depending on the time) */
main section:first-of-type article:nth-of-type(2) h2 {
  color: var(--color-white);
  display: flex;
  justify-content: center;
}

/* Body Text */
main section:first-of-type article:nth-of-type(2) h3 {
  color: var(--color-white);
  display: flex;
  justify-content: center;
}

/* Search Bar */

main section:first-of-type article:nth-of-type(2) form {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 10px 32px 32px 32px;
}

main section:first-of-type article:nth-of-type(2) form input {
  left: calc(50% - 155.5px);
  height: 49px;
  text-decoration: none;

  border: none;
  background-color: var(--color-white);

  /*font details*/
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  color: var(--color-black);
  font-stretch: condensed;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  padding: 6px 12px;

}

input[type="search"] {
  flex: 3;
  width: 85%;
}

input[type="submit"] {
  display: flex;
  justify-content: flex-end;
  align-self: center;
  background-image: url(../images/search-icon.svg);
  background-position: center;
  /* shows image */
  background-repeat: no-repeat;
  width: 15%;
  padding-right: 10px;
}




/************************************************/
/* Main | Sect.2 | Article 1, 2, 3 | Details    */
/************************************************/


main section:nth-of-type(2) {
  margin: 0px;
  padding-bottom: 10px;
}

main article:nth-of-type(-n+3) {
  margin: 0px;
  transform: translateY(-10%);
}


main section:nth-of-type(2) article:nth-of-type(-n+3) {
  margin: 0px 16px;
  background-color: var(--color-white);
  box-shadow: 0 2px 2px 0 rgb(34 34 34 / 8%);
  padding: 16px;
}

main section:nth-of-type(2) article:nth-of-type(-n+3) img {
  margin: -8px 0px 8px -8px;
  padding: 0px;
}

main section:nth-of-type(2) h3 {
  margin-bottom: 16px;
}

main section:nth-of-type(2) article:nth-of-type(-n+3) a {
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
  padding-bottom: 12px;
  gap: 5px;

  /*font language*/
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  color: var(--color-primairy);
  font-size: 16px;
  cursor: pointer;
  align-items: center;
}

main section:nth-of-type(2) article:nth-of-type(-n+3) a:before {
  content: url(../images/arrow_right.svg);
  z-index: 100;
  width: 24px;
  height: 24px;
}

main section:nth-of-type(2) article:nth-of-type(-n+3) {
  margin-bottom: 16px;
}





/************************************************/
/* Main | Sect.2 | Bereken uw lening            */
/************************************************/



main section:nth-of-type(3) {
  background-color: var(--color-lightgray);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-decoration: none;
  padding-bottom: 16px;
}

main section:nth-of-type(3) h2,
p {
  padding: 0px 16px 0px 16px;
}


main section:nth-of-type(3) a:first-of-type {
  display: flex;
  justify-content: center;
  background-color: var(--color-primairy);
  margin: 0px 16px 24px 16px;
  padding: 22px 16px;

  /*font language*/
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  color: var(--color-white);
  font-stretch: condensed;
  line-height: 3px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

main section:nth-of-type(3) a:last-of-type {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-decoration: none;
  padding: 0px 16px 0px 16px;

  /*font language*/
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  color: var(--color-primairy);
  font-stretch: condensed;
  line-height: 3px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

main section:nth-of-type(3) a:last-of-type::after {
  content: url(../images/chevron_right.svg)
}

main section:nth-of-type(3) img:first-of-type {
  display: flex;
  justify-content: flex-start;
  order: -1;
  width: 375px;
  padding-bottom: 16px;
}

main section:nth-of-type(3) img:last-of-type {
  border: 1px solid var(--color-black);
  width: 375px;
  order: -2;
}

/************************************************/
/* Main | Sect.4 | Art. 1,2,3 | Ook interessant */
/************************************************/



main section:nth-of-type(4) h2 {
  display: flex;
  justify-content: center;
  margin: 30px 0px 60px 0px ;
}

main section:nth-of-type(4) h3 {
  display: flex;
  justify-content: flex-start;
  padding: 16px;
}

main section:nth-of-type(4) article:nth-of-type(-n+3) p {
  display: flex;
  justify-content: flex-start;
  margin: 0px 0px 16px 0px;
}

main section:nth-of-type(4) article:nth-of-type(-n+3) a {
  border-radius: 2px;
  border: none;
  background-color: var(--color-primairy);
  padding: 8px 16px;
  margin: 16px 16px 16px 16px;

  color: var(--color-white);
  text-decoration: none;
  font-size: 1em;
  line-height: 2em;
  font-weight: 400;
  font-family: 'Roboto Condensed', sans-serif;
  min-width: 7.5em;
  text-align: center;
}

main section:nth-of-type(4) article:nth-of-type(-n+3) {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: var(--color-white);
  box-shadow: 0 2px 2px 0 rgb(34 34 34 / 8%);
  margin: 16px;
}

main section:nth-of-type(4) article:nth-of-type(-n+3) img {
  display: flex;
  justify-content: flex-start;
  order: -1;
}





/************************************************/
/* Main | Sect.5 | Hulp Nodig?                  */
/************************************************/

main section:nth-of-type(5) {
  background-color: #16928b;
  padding: 24px 16px 50px 16px;
}

main section:nth-of-type(5) h2 {
  color: var(--color-white);
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 600;
  line-height: 2rem;
  font-size: 14px;
  font-stretch: condensed;
  word-wrap: break-word;
  margin-bottom: 8px ;
}

main section:nth-of-type(5) p {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  color: var(--color-white);
  line-height: 26px;
  font-size: 14px;
  margin: 0px 0px 20px 0px;
  padding: 0;
}

main section:nth-of-type(5) a {
  display: flex;
  justify-content: flex-start;
  background-color: #0c7773;
  color: var(--color-white);
  text-decoration: none;
  font-size: 14px;
  line-height: 2em;
  font-weight: 400;
  font-family: 'Roboto Condensed', sans-serif;
  min-width: 7.5em;
  text-align: center;
  max-height: 40px;

  padding: 6px 0px 15px 0px
}

main section:nth-of-type(5) a::before {
  content: url(../images/servicecontact.svg);
  align-items: center;
  padding: 0px 5px 30px 0px;
  z-index: 100;
  width: 45px;
  height: 45px;
}


