/************************************************/
/* CSS | Document                               */
/************************************************/

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}


/************************************************/
/* General | Font Library | @import font        */
/************************************************/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,900&display=swap');





/************************************************/
/* General | Custom Properties | Colors         */
/************************************************/

:root {
  --color-white: white;
  --color-black: #222222;
  --color-lightgray: #f9f9f9;
  --color-gray: #dedede;
  --color-primairy: #005e5d;
  --color-secundairy: #00857a;
  --color-selected: #004c4c;
  --color-tertiary: #ffd200;
  --color-footer: #ecebec;
}





/************************************************/
/* General | Headings, paragraph, etc.          */
/************************************************/

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: var(--color-black);
  line-height: 3rem;
  font-size: 36px;
  word-wrap: break-word;
  margin: 0;
}

h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  color: var(--color-black);
  line-height: 2rem;
  font-size: 24px;
  font-stretch: condensed;
  word-wrap: break-word;
  margin: 0px 0px 8px 0px;
}

h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  color: var(--color-black);
  line-height: 2rem;
  font-size: 20px;
  font-stretch: condensed;
  word-wrap: break-word;
  margin: 0;
}

p {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  color: var(--color-black);
  line-height: 24px;
  font-size: 16px;
  margin: 0px 0px 16px 0px;
}





/************************************************/
/* General | HTML Semantic Elements Settings    */
/************************************************/

body {
  background-color: var(--color-lightgray);
}

header {
  margin: 0;
}

main {
  background-color: var(--color-lightgray);
}

ul {
  margin: 0;
}

li {
  margin: 0px;
  list-style: none;
}





/************************************************/
/* Header | Nav | Div | Header afbeelding       */
/************************************************/

header div {
  width: 100%;
  height: 12.5em;
}

/* Header > img */

header div img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  /*Inhoud afbeelding wordt bijgesneden*/
  object-position: 65% 10%;
  /* Focus on eyes */
}

@media (min-width:32em) {
  header div {
    height: 25em;
  }
}


/************************************************/
/* Header | Nav | Ul 1 | Taal  & Bankieroptie   */
/************************************************/

header nav ul:first-of-type {
  background-color: var(--color-white);

  list-style: none;
  margin: 0;

  width: 100%;
  height: 45px;

  position: relative;
  top: 0;
  background-color: var(--color-white);
  padding: 8px 8px 12px 16px;

}

/*Flexbox */
header nav ul:first-of-type {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  align-items: center;
  gap: 10px;
}

/* navigation > language > NL (styling) */
header nav ul:first-of-type li:first-of-type a {
  display: flex;
  justify-content: flex-start;

  border-right: 1px var(--color-gray) solid;
  padding-right: 5px;

  text-decoration: none;

  /*font language*/
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: var(--color-selected);
  line-height: 21px;
  font-size: 14px;
  margin: 0;
  cursor: pointer;
}

/* navigation > language > EN (styling) */
header nav ul:first-of-type li:nth-of-type(2) a {
  text-decoration: none;

  /*font language*/
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: var(--color-primairy);
  line-height: 21px;
  font-size: 14px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

/* navigation > Way of Banking (styling) */
header nav ul:first-of-type li:last-of-type a {

  text-decoration: none;

  /*font language*/
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: var(--color-black);
  line-height: 21px;
  font-size: 14px;
  margin: 0;
  cursor: pointer;
}

header nav ul:first-of-type li:last-of-type {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

header nav ul:first-of-type li:last-of-type a::after {
  content: url(../images/arrow_down_header.svg);
  width: 14px;
  height: 14px;
  margin: 8px;
  align-items: center;
}





/************************************************/
/* Header | Nav | Ul 2 | Logo & Log-in button   */
/************************************************/

header nav ul:nth-of-type(2) {
  position: relative;
  top: 0;
  background-color: var(--color-white);
  padding: 8px 8px 12px 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
}


header nav ul:nth-of-type(2) li:nth-of-type(2) a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-tertiary);
  color: var(--color-black);
  border-radius: 2px;
  border-spacing: 11px 8px;
  height: 40px;
  padding: 2px 10px 2px 10px;
  gap: 10px;

  color: var(--color-black);
  text-decoration: none;

  /*font language*/
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: var(--color-black);
  line-height: 3px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

header nav a img {
  margin: 0;
  width: 129.31px;
  height: 40px;
  z-index: 1;
  cursor: pointer;
  display: flex;
  padding: 0 0 0 2px;
}

/* Log-in button */
header nav ul:nth-of-type(2) li:nth-of-type(2) a:before {
  content: url(../images/securelogin.svg);
  display: flex;
  align-items: center;
  height: 20px;
  width: 20px;
}





/************************************************/
/* Header | Nav | Ul 3 | Hoofdnavigatie         */
/************************************************/

header nav ul:last-of-type a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
  height: 48px;

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: var(--color-white);
  font-size: 1rem;
  padding: 0;
  text-decoration: none;
  cursor: pointer;
}

header nav ul:last-of-type a::after {
  display: flex;
  align-items: center;
  align-self: center;
  content: url(../images/arrow_down_nav.svg);
  padding-top: 5px;
  width: 14px;
  height: 14px;
}

header nav ul:last-of-type {
  /* Flexbox */
  background-image: linear-gradient(-296deg, #005e5d, #00857a);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  list-style: none;
  width: 90%;
  overflow-x: scroll;
}

header nav ul:last-of-type li {
  padding: 0px 16px;
  flex-shrink: 0;
}

header nav section {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  width: 48px;
  height: 48px;
  background-image: url(../images/search-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: red;
  transform: translateY(-100%);
}





/************************************************/
/* Main | Sect.1 | Art.1 | Huidige Actie        */
/************************************************/


main section:first-of-type {
  background-image: linear-gradient(-296deg, #005e5d, #00857a);
  transform: translateY(-2%);
}

main section:first-of-type article:first-of-type {
  transform: translateY(-25%);
}

main section:first-of-type article:first-of-type h1 {
  margin-bottom: 8px;
}

main section:first-of-type article:first-of-type h2 {
  margin-bottom: 16px;
}


main section:first-of-type article:first-of-type {
  padding: 16px;
  margin: 0px 16px;
  background-color: var(--color-white);
  box-shadow: 0 0 8px 0 rgb(34 34 34 / 2%), 0 8px 16px 0 rgb(34 34 34 / 20%);
}

main section:first-of-type article:first-of-type a {
  display: block;
  color: var(--color-black);
  background-color: var(--color-tertiary);
  width: 100%;
  text-decoration: none;
  padding: 22px 16px;


  /*font language*/
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  color: var(--color-black);
  font-stretch: condensed;
  line-height: 3px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}





/************************************************/
/* Main | Sect.1 | Art.2 | Zoeken               */
/************************************************/



main section:first-of-type {
  margin: 0px;
  padding-bottom: 10px;
}

/* Greeting (depending on the time) */
main section:first-of-type article:nth-of-type(2) h2 {
  color: var(--color-white);
  display: flex;
  justify-content: center;
}

/* Body Text */
main section:first-of-type article:nth-of-type(2) h3 {
  color: var(--color-white);
  display: flex;
  justify-content: center;
}

/* Search Bar */

main section:first-of-type article:nth-of-type(2) form {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 10px 32px 32px 32px;
}

main section:first-of-type article:nth-of-type(2) form input {
  left: calc(50% - 155.5px);
  height: 49px;
  text-decoration: none;

  border: none;
  background-color: var(--color-white);

  /*font details*/
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  color: var(--color-black);
  font-stretch: condensed;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  padding: 6px 12px;

}

input[type="search"] {
  flex: 3;
  width: 85%;
}

input[type="submit"] {
  display: flex;
  justify-content: flex-end;
  align-self: center;
  background-image: url(../images/search-icon.svg);
  background-position: center;
  /* shows image */
  background-repeat: no-repeat;
  width: 15%;
  padding-right: 10px;
}




/************************************************/
/* Main | Sect.2 | Article 1, 2, 3 | Details    */
/************************************************/


main section:nth-of-type(2) {
  margin: 0px;
  padding-bottom: 10px;
}

main article:nth-of-type(-n+3) {
  margin: 0px;
  transform: translateY(-10%);
}


main section:nth-of-type(2) article:nth-of-type(-n+3) {
  margin: 0px 16px;
  background-color: var(--color-white);
  box-shadow: 0 2px 2px 0 rgb(34 34 34 / 8%);
  padding: 16px;
}

main section:nth-of-type(2) article:nth-of-type(-n+3) img {
  margin: -8px 0px 8px -8px;
  padding: 0px;
}

main section:nth-of-type(2) h3 {
  margin-bottom: 16px;
}

main section:nth-of-type(2) article:nth-of-type(-n+3) a {
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
  padding-bottom: 12px;
  gap: 5px;

  /*font language*/
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  color: var(--color-primairy);
  font-size: 16px;
  cursor: pointer;
  align-items: center;
}

main section:nth-of-type(2) article:nth-of-type(-n+3) a:before {
  content: url(../images/arrow_right.svg);
  z-index: 100;
  width: 24px;
  height: 24px;
}

main section:nth-of-type(2) article:nth-of-type(-n+3) {
  margin-bottom: 16px;
}





/************************************************/
/* Main | Sect.2 | Bereken uw lening            */
/************************************************/



main section:nth-of-type(3) {
  background-color: var(--color-lightgray);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-decoration: none;
  padding-bottom: 16px;
}

main section:nth-of-type(3) h2,
p {
  padding: 0px 16px 0px 16px;
}


main section:nth-of-type(3) a:first-of-type {
  display: flex;
  justify-content: center;
  background-color: var(--color-primairy);
  margin: 0px 16px 24px 16px;
  padding: 22px 16px;

  /*font language*/
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  color: var(--color-white);
  font-stretch: condensed;
  line-height: 3px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

main section:nth-of-type(3) a:last-of-type {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-decoration: none;
  padding: 0px 16px 0px 16px;

  /*font language*/
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  color: var(--color-primairy);
  font-stretch: condensed;
  line-height: 3px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

main section:nth-of-type(3) a:last-of-type::after {
  content: url(../images/chevron_right.svg)
}

main section:nth-of-type(3) img:first-of-type {
  display: flex;
  justify-content: flex-start;
  order: -1;
  width: 375px;
  padding-bottom: 16px;
}

main section:nth-of-type(3) img:last-of-type {
  border: 1px solid var(--color-black);
  width: 375px;
  order: -2;
}

/************************************************/
/* Main | Sect.4 | Art. 1,2,3 | Ook interessant */
/************************************************/



main section:nth-of-type(4) h2 {
  display: flex;
  justify-content: center;
  margin: 30px 0px 60px 0px ;
}

main section:nth-of-type(4) h3 {
  display: flex;
  justify-content: flex-start;
  padding: 16px;
}

main section:nth-of-type(4) article:nth-of-type(-n+3) p {
  display: flex;
  justify-content: flex-start;
  margin: 0px 0px 16px 0px;
}

main section:nth-of-type(4) article:nth-of-type(-n+3) a {
  border-radius: 2px;
  border: none;
  background-color: var(--color-primairy);
  padding: 8px 16px;
  margin: 16px 16px 16px 16px;

  color: var(--color-white);
  text-decoration: none;
  font-size: 1em;
  line-height: 2em;
  font-weight: 400;
  font-family: 'Roboto Condensed', sans-serif;
  min-width: 7.5em;
  text-align: center;
}

main section:nth-of-type(4) article:nth-of-type(-n+3) {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-decoration: none;
  background-color: var(--color-white);
  box-shadow: 0 2px 2px 0 rgb(34 34 34 / 8%);
  margin: 16px;
}

main section:nth-of-type(4) article:nth-of-type(-n+3) img {
  display: flex;
  justify-content: flex-start;
  order: -1;
}




/************************************************/
/* Main | Sect.4 | Art.1 | Periodiek Beleggen   */
/************************************************/

/************************************************/
/* Main | Sect.4 | Art.2 | Ontdek Grip          */
/************************************************/

/************************************************/
/* Main | Sect.4 | Art.3 | Eindejaarstips       */
/************************************************/

/************************************************/
/* Main | Sect.5 | Hulp Nodig?                  */
/************************************************/



/************************************************/
/* Footer                                       */
/************************************************/





footer {
  display: flex;
  justify-content: center;
  background-color: var(--color-footer);
  width: 100%;
  margin: auto;
  padding: 20px;
}

footer ul li {
  display: inline;
  text-align: center;
  white-space: nowrap;
  padding: 5px;
}

footer ul a {
  display: flex;

  /*font details*/
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  color: var(--color-primairy);
  line-height: 3px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}